<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NombreAlcaldia" value="" />
    <add key="Iva" value="" />
    <add key="ConsecutivoEntrada" value="" />
    <add key="ConsecutivoSalida" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MySql"
         connectionString="server=localhost;port=3306;database=bodega_kardex;uid=root;pwd=Kilabone15*;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
